@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

:root {
  --color-primary: #6f6af8;

  --color-white: #fff;

  --color-red: rgb(255, 63, 63);

  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);

  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);

  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;

  /* --color-bg: rgba(230, 230, 235, 0.648); */
  /* --color-bg: rgb(255 255 255 / 89%); */


  --color-bg: rgb(249 249 249 / 93%);

  --transition: all 300ms ease;

  --container-width-1g: 84%;

  --container-width-md: 92%;

  --form-width: 50%;

  --radius-1: 0.3rem;

  --radius-2: 0.6rem;

  --radius-3: 1rem;
}



html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  
}
body {
 
  overflow-x: hidden;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  background: #fbf9f9;
  --gap: 5em;
  --line: 1px;
  --color: rgba(49, 45, 45, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
 
  font-size: 1.6;
  color: var(--color-gray-700);
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 8px none #ffffff;
  border-radius: 73px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 32px none #ffffff;
  border-radius: 68px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
a {
  color: var(--color-gray-700);
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-900);
  line-height: 1.1;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  line-height: 1.4;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}
section {
  margin-top: 6rem;
}
.container {
  width: var(--container-width-1g);
  margin-inline: auto;
}
.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: #e4f2f9;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}
.btn.primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn.category {
  background: var(--color-bg);
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 400;
}

.btn.sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}

.btn.danger {
  background: var(--color-red);
  color: var(--color-white);
}
.btn:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}

.center {



  display: flex;
  height:70vh;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-page h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*------------------------------ NavBAR------------------------------ */
nav {
  width: 100vw;
  height: 4.5rem;
  display: flex;
  place-items: center;
  /* background: rgba(255, 255, 255, 0.5); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* border-bottom: 4px solid var(--color-bg); */
  backdrop-filter: blur(20px);
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition-duration:2s;
}
.nav_container li:hover{
  color:#558989;
  transition-duration:1s;
text-decoration: underline;
}

.nav_logo {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

}
.stic{
  height:4rem;
  width:4rem;
}
.stic:hover{
  transform: rotate(360deg);
  transition-duration:1.7s;
}

.nav_logo img{
  border-radius:100%;

}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav_toggle-btn{
  display: none;
}
.nav_up{
 display:none;
 transition-duration:3s;
  }


/*----------------------------------- FOOter----------------------------------------- */

footer {
  background: var(--color-gray-900);
  margin-top: 21rem;
  /* position: relative; */
    /* bottom:0; */
  padding-top: 7rem;
  transition-duration:2s;
 
}

.footer_categories {
 
  transition-duration:2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.footer_categories a {
  background: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer_categories a:hover {
  background: var(--color-white);
  color: var(--color-gray-900);
}

.footer_copyright {
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
}
.footer_media{
 
  /* border-top: 2px solid var(--color-gray-700); */
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
  text-align: center;
  font-size: 1.6rem;
}
.footer_media a{
  /* background: var(--color-gray-700); */
  color: var(--color-white);
  /* padding: 0.6rem; */
  margin:1rem 1rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.space1{
  height:20rem;
  width:21rem;
}
/* ---------------------HOMe ----------------------------------------------*/

/* ---------------------posts ----------------------------------------------*/
.posts{
  margin-top:0rem;
  padding-top:5rem;
}
.posts_container {
  /* display: grid;
  gap: 4rem;
  margin-top:4rem;
  grid-template-columns: repeat(3, 1fr);
  place-items: center; */
  

  display: flex;
  justify-content:center;
  align-items: center;
  place-items: center;
  gap:4rem;
  flex-wrap: wrap;
  margin-top:4rem;

}

.post {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);
  padding-bottom: 2rem;
  transition: 2rem;
  cursor: default;
  cursor: pointer;
  max-width:22rem;
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post:hover {
 
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
.post_thumbnil {
  overflow: hidden;
  border-radius: var(--radius-3);
  min-height:10rem;
  background-image: url("https://picsum.photos/600/500");
  max-height: 16rem;
}

.post_content {
  margin-top: 1.5rem;
}

.post_content h3 {
  margin: 1rem 0 0.6rem;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}
.post_author {
  display: flex;
  align-items: flex-start;
  gap: 1rem;


  
}

.post_author-avatar {
  width: 2.5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: var(--radius-2);
}

/* -------------------------------------------------Post datail--------------------------- */
.post-detail {
  width: var(--form-width);
  background: var(--color-white);
  margin-inline: auto;
  padding: 2rem 0;
  border-radius: 20px;
  line-height: 2.1rem;
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
.post-detail h1 {
  margin-bottom: 1rem;
}
.post-detail_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding:1rem;
  box-shadow: 0rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  border-radius:20px;
}

.post-detail_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post-detail_thumbnil {
  margin: 1rem 0;
  height: fit-content;
  /* max-width: 30rem; */
  overflow: hidden;
  border-radius:20px;
 
}

.post-detail p {
  margin-bottom: 0.7rem;
}

/*------------------ rgister and form style   login-------------+-++ */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
    background-color: #dedede42;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  resize: none;
}
input:hover{
  border:1px solid #558989;
  
}
select:hover{
  border:1px solid #555589;
}
textarea:hover{
  border:1px solid #555589;
}

.form_error-message {
  background: var(--color-red);
  color: var(--color-white);
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  display: block;
  margin-bottom: 1rem;
}
  /* ================================temparay LOGIN============================================ */



.temp{
  height: 60vh;
  width: 100%;
  /* From https://css.glass */
  background-color:#ffff;
  border-radius: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-top: 2rem;
 overflow: hidden;
}
.temp .container{
  
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
  width:80%;
}
.temp .container input{
  background-color: #f2f2f2;
  color: black;
 
  
}
.temp .container .form{
width:95%;
padding:15px;

}

.loginimage{
 margin-top:1rem;
}










    /* ================================temparay LOGIN=  .Li=========================================== */

.register,
.login,
.create-post {
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh-12rem);
  display: grid;
  place-items: center;
  z-index:-100;
  margin-bottom:8rem;
  padding-bottom:2rem;
  border-radius: var(--radius-3);
}
.register h2,
.login h2,
.create-post h2 {
  margin-bottom: 2rem;
}
.register small,
.login small {
  display: block;
  margin-top: 1.5rem;
}
.register small a,
.login small a {
  color: var(--color-primary);
}

/* custom style  for  react quill */
.ql-editor {
  overflow: scroll;
  background: var(--color-white);
  height: 14rem !important;
  max-width: 40rem;
}

/*------------------ AUTHORS-------------+-++ */

.authors_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  
}
.author {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);
  display: flex;
  gap: 1rem;
  transition: var(--transition);
  min-width:6rem;
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.author:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.07);
}

.author_avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.3rem solid var(--color-bg);
  overflow: hidden;
}
.authors_info{
  display: flex;
  justify-content: space-around;
 
  flex-direction: column;
  height:100%;
}


/* 1225
1226 */
/* --------------------------------user profile -------------------------------------- */
.profile_container {
  display: flex;
  place-items: center;
  flex-direction: column;
  text-align: center;
  width: var(--form-width);
  border-radius: var(--radius-3);
 
}

.profile_details {
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top:2rem;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: var(--radius-3);

}
/* .sti {
  position: -webkit-sticky;
  position: sticky;
  top: 3.5rem;
  z-index: 10;
} */
.profile{
  margin-top:0;
}
.avatar_background{
  display: flex;
 justify-content:center;
 align-items: end;
height:50vh;
 width: 100vw;
 flex-direction: column;


 /* background-image: url("https://source.unsplash.com/random/1600x1800/?comics"); */
 background-image: url("https://picsum.photos/seed/1200/400");
 
 background-color: #72c6d7;
 background-repeat: no-repeat;
 margin-bottom:7rem;
 object-fit: cover;
 background-size: 100%;

}


.avatar_wrapper {
  width: 15rem;
height:16rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;
transform:translateY(65%);
 
}
/* erro */
.profile_avatar {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid var(--color-white);
  overflow: hidden;
}
.avatar_form {
  height: 1rem;
}

.avatar_form input {
  visibility: hidden;
}
.avatar_form label,
.profile_avatar-btn {
  background: var(--color-gray-900);
  color: var(--color-white);
  font-size: 1.3rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.profile_avatar-btn {
  cursor: pointer;
  padding: 0;

  background: var(--color-primary);
}
.profile_details h1 {
  margin-top: 1.5rem;
}
.form .profile_form {
  margin-top: 3rem;
  margin-inline: auto;
  width: var(--form-width);
}

/*----------------------------------------DASHBOARD_-------------------------------*/
.dashboard_container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.dashboard_post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height:5rem;
  background: var(--color-white);
  padding: 0.5rem 1.2rem;
  border-radius: var(--radius-3);
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
.dashboard_post-info {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.dashboard_post-thumbnil {
  width: 4rem;
  border-radius: var(--radius-1);
  overflow: hidden;
  
}
.dashboard_post-thumbnil img{
  object-fit: cover;
}
.dashboard_post-actions {
  display: flex;
  gap: 1rem;
}

/* *******************************fornted ******************************/


.content {
 
  width: 94%;
  position: absolute;

  transform: translate(0%, -101%);
  color: white;
  text-align: center;
  
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
background-color: #302d2d5d;

}
.content h1{
  font-size:70px;
}


.Li {
  margin-top:2rem;
 
 object-fit: cover;
  width:95vw;

  text-align:center;
 margin-bottom:2rem;
 display: flex;
 justify-content: center;
 align-items: center;
   flex-wrap: wrap;
   background-color: #0c0c22;
 border-radius:20px;
   background-image: url(./Images/bg2.jpg);
   background-size: cover;
  backdrop-filter: blur(5px);
  
   
  }

  
  .space2{
    height:10rem;
    width:10rem;
  }
.Li h1{
  font-size:5rem;
  color:#f8fafc;
  background-color: #9998a13d;
 
}
/* ---------------------------------------media Query-------------------------------------------- */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .container {
    width: (var(--container-width-md));
  }
  footer {
    min-width: 15rem;
  }
  p{
    font-size:.9rem;
  }

  /* --------------------------------NAVBAR------------------------------------------ */
.nav_up{
  position: fixed;
  top:0;
  right:0;
  /* visibility: visible; */
 
  height:100vh;
  width:100vw;
  z-index: 9999;
 background-color: #0c0c22fc;
   /* background-color: #ffffffc2; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  border: 1px solid rgba(255, 255, 255, 0.14); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
transition-duration:3s;
  
}

.nav_up li{
  font-size: 20px;
  width:100%;
  margin-top:2rem;
  /* margin-left:10px; */


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav_up li a{
  color:#ffff;
}

  .nav_menu {
    display: none;
  }
 
.nav_logo{
  position: relative;
}
.nav_toggle-btn{
  display: flex;
  background: transparent;
  font-size: 1.5rem;
 z-index:99999;
  cursor: pointer;
  color: black;
}


  .post {
    max-width: 18rem;
    /* min-width:18rem; */
  }
  .posts_container {
    grid-template-columns: 1fr;
   
  }

  .post-detail_container {
    padding: 1rem;
    place-items: center;
   
  }
  .post-detail {
    width: 100%;
    padding: 0;
    box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
    background: transparent;
  }
  .post-detail h1 {
    margin-top: 1rem;
  }
  .post-detail_header{
    background-color: #fff;
   padding:10px;
    border-radius:15px;
    width:90vw;
  }
  .register,
  .login,
  .container,
  .create-post {
    width: 95%;
  }
  .profile_form {
    width: 99.5%;
    margin-top: 2.5rem;
  }
  .authors_container {
    grid-template-columns: 1fr;
    gap: 1.2rem;

  }
  .dashboard_post {
    flex-direction: column;
  }
  .dashboard_post-info {
    gap: 1.5rem;
  }
  .dashboard_post-thumbnil {
    width: 5rem;
  }
 
  .content h1{
    font-size:30px;
  }
  .content p {
    font-size: 15px;
  }
  /* nav_logo */
.temp{
  flex-direction: column;
  height:100vh;
}
.temp .container{
 margin-top: 6rem;
}
.temp .container .form{
  width:100%;
  height:70%;
  padding:0px;
  margin-bottom:5px;
}


.front{
  height:90vh;
  padding-right:0;
  margin-right:0;
}
.Li h1{
  font-size:4rem;
}






}

/* ----------------------------------------------------/animation */

/* ------------------------------------------button  ---------------------------------------*/
button {
  font-size: 17px;
  color: #e1e1e1;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;

  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}



/* ======================================== blog headr =================================*/







/* =================================Loader======================================== */


/* HTML: <div class="loader"></div>     dashboard_post-thumbnil*/
.loadermain{
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 z-index:10000000000;

  flex-direction: column;
}
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  background-color:"red";
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}
 /*======================= =================SLIDER   margin-top======================================== */
 .mySwiper{
    height:95vh;
    width:100vw; 
    margin-top:0rem;
 }

 .mySwiper  video{
 object-fit: cover;
 height:100%;
 width:100vw;
 
}
.mySwiper .swiper-button-next{
  display:none;
}
.mySwiper .swiper-button-prev{
  display:none;
}
.swiper-pagination-bullet-active{
  background-color:"black";
}

/* /  Text to voice */


.texttovoice{
  
  display: flex;
  justify-content: center;
  align-items: center;

  
  color: white;
  position:fixed;
border-radius:100%;
padding:12px;
  right:11%;
  background: linear-gradient(rgb(233, 115, 231),rgb(115, 177, 188));
 cursor: pointer;
   bottom:3rem;


   
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
/* .texttovoice:hover{
  background-color: #700202;
  color: white;
   transform: scale(1.2);
   transition-duration: 1s;
} */
.blob {
	background: black;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.mic{
  height:2rem;
  width:2rem;
}


 /* ----------------------------------HOme1-------------------------------------------------- */
 .home1{
  background-image: url("./Images/line2.png");
  background-size:contain;
  background-repeat: no-repeat;
   display: flex;
   padding-top:2rem;
   justify-content: center;
   align-items: center;
   height:75vh;
   width:100vw;
   
   
 }
 .sidegraph{
 
    width:100vw;
   height:70%;
  display: flex;
  justify-content: center;
  align-items: center;
 
   
 }
 .studyImage{
  height:80%;
  background-image: url("./Images/graph.png");
  background-repeat: no-repeat;
  
     background-attachment: local;
  display: flex;
  justify-content: center;

  align-items: center;
  width:40%;

 }
 
 .texttype{
  font-family: 'Anonymous Pro' ,monospace;
  height:100%;
  width:50%;

   font-size: 60px;
   text-align: center;
   font-weight: 900;
  padding:10px;
   display: flex;
   justify-content: center;
   align-items: center;


   background: #A913A5;
   background: radial-gradient(circle farthest-corner at center center, #A913A5 0%, #06B6CF 94%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
  
   







 .home2{
  
  display: flex;
  width:100vw;
  justify-content:space-around;
  padding-left:4rem;
  padding-right:10rem;
  
   align-items: center;
   flex-wrap: wrap;
 
 }
 .leftImage1 img{
   height:20rem;
   width:16rem;
 }
 
 .righttext{
  
   display: flex;
   text-align: center;
    justify-content:center;
    flex-direction: column;
    align-items: center;
     font-weight: 100;
    
 }
 .righttext h1{
   margin-bottom:20px;
   background: #004AA9;
background: radial-gradient(circle farthest-corner at center center, #004AA9 0%, #CF2977 94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 }


 @media screen and (max-width: 500px) {
.home2{
  padding:0;
}
.leftImage1{
  margin-top:3rem;
}
  .sidegraph{
    flex-direction:column-reverse;
    flex-wrap: wrap-reverse;
    height:90vh;
    width:100%;
    margin-top: 3rem;
  
    
  }
  .studyImage{
    width:100%;
    height:80%;
    
  }
  .studyImage img{
    height:100%;
    width:100%;
    
  }
   .texttype{
    width:100%;
    height:auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    font-size: 30px;
  
  
   
  } 
 }
 @media screen and (max-width: 900px)and (min-width: 500px){
  
  .sidegraph{
    flex-direction:column-reverse;
    flex-wrap: wrap-reverse;
    height:90vh;
    width:100%;
  
    
  }
  .studyImage{
    width:100%;
    height:80%;
 
    
  }
  .studyImage img{
    height:30rem;
    width:25rem;
  }
   .texttype{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
   z-index: 10000;
   
   
  } 
 }



  /*==================== button================= */



  .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
 

 


